.dark [data-theme="light"] {
  display: none;
}

.dark [data-theme="dark"] {
  display: block;
}

[data-rehype-pretty-code-fragment] {
  position: relative;
  color: #ffffff;
}

[data-rehype-pretty-code-fragment] code {
  display: grid;
  min-width: 100%;
  overflow-wrap: break-word;
  border-radius: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 1rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  width: 100%;
  display: inline-block;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  color: var(--color-muted-foreground);
  font-size: 0.75rem;
  line-height: 1rem;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  position: relative;
  background-color: #e5e7eb;
}

.dark [data-rehype-pretty-code-fragment] .line--highlighted {
  background-color: #374151;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  border-left: 2px solid var(--color-muted-foreground);
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  position: relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  border-radius: 0.375rem;
  padding: 0.25rem;
  background-color: rgba(113, 113, 122, 0.5);
  border: 1px solid rgba(113, 113, 122, 0.7);
}

.dark [data-rehype-pretty-code-fragment] .word--highlighted {
  background-color: #18181b;
}

[data-rehype-pretty-code-title] {
  margin-top: 0.5rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

[data-rehype-pretty-code-title] + pre {
  margin-top: 0.5rem;
}

.mdx > .steps:first-child > h3:first-child {
  margin-top: 0;
}

.steps > h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

/* .preview-grid-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
} */
